# git ignore file

Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.ipch
*.opensdf
*.filters
[Bb]in
[Dd]ebug*/
ipch/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
/ipch
/*.sdf
/Doc/*.out
/Doc/*.pdf
/Doc/*.toc
/Doc/*.aux
/Doc/*.log
